@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Martian+Mono:wght@100..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik+Broken+Fax&display=swap');

body {
    color: #484686;
    background-color: #faf5fb;
  }

  p {
    font-family: Red Hat Display;
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #484686;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

  }

  .center {
    text-align: center;
}

.navbar {
    background-color: #af5d81;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
    color: #faf5fb;
}

.navbar li a {
    font-family: Martian mono;
    font-size: 14px;
    display: block;
    color: #faf5fb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #484686;
    border-radius: 50px;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    margin: auto;
    width: 800px;
}
header h1 {
    font-family: Rubik Broken Fax, sans-serif;
    font-weight: 400;
    font-size: 100px;
    color: #484686;
    margin-top: 50px;
    margin-bottom: 50px;
}

ul,
ol {
    list-style: none;
}

.nav {
    width: 140px;
    margin: 50px auto;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 20px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -142px;
    top: 0px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #af5d81;
    padding: 10px;
    text-align: center;
}
.footer p {
    font-family: Martian mono;
    font-size: 12px;
    color: #faf5fb;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

input[type="text"] {
    font-family: Red Hat Display;
    padding: 20px;
    width: 70%;
    border: 2px solid #ddd;
    border-radius: 50px;
    outline: none;
}

button[type="submit"] {
    font-family: Red Hat Display;
    font-size: 20px;
    font-weight: 600;
    background-color: #9ca04c;
    color: #fff;
    border: 1px solid #9ca04c;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    width: 20%;

}

button[type="submit"]:hover {
    background-color: #484686;
    border-color: #484686;
    transition: 0.5s;
}

#header h1 {
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    font-size: 2em;
    margin-top: 20px;
}

.collapsible {
    font-family: Red Hat Display;
    font-size: 15px;
    font-weight: 400;
    background-color: #4d7444;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    padding: 20px;
    width: 20%;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;

}

.active,
.collapsible:hover {
    background-color: #484686;
    transition: 0.5s;

}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #cabae3;
    width: 48%;
    margin: 20px auto;

}

.submenu {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.submenu li a {
    font-family: Red Hat Display;
    background-color: #9ca04c;
    padding: 10px;
    border: 0px;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 5px;
}

.submenu li a:hover {
    background-color: #484686;
    transition: 0.5s;
}

compound {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
    .compound h1 {
        font-family: Martian mono;
        font-size: 40px;
        font-weight: 700;
        color: #484686;
        margin-right: 10px;
        text-align: left;
        margin-left: 30px;
    }

iframe {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
}

compound_information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
}
.compound_information h3 {
    font-family: Martian mono;
    font-size: 20px;
    font-weight: 700;
    color: #484686;
    margin-left: 30px;
    text-align: left;
}
.compound_information p {
    font-family: Red Hat Display;
    font-size: 16px;
    font-weight: 400;
    color: #484686;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

.compound_information ul {
    font-family: Red Hat Display;
    font-size: 16px;
    font-weight: 400;
    color: #484686;
    margin-left: 30px;
    text-align: left;
}

descriptions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.descriptions h3 {
    font-family: Martian mono;
    font-size: 20px;
    font-weight: 700;
    color: #484686;
    margin-left: 30px;
    text-align: left;
}
.descriptions p {
    font-family: Red Hat Display;
    font-size: 16px;
    font-weight: 400;
    color: #484686;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

toxicity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}   
    .toxicity h3 {
        font-family: Martian mono;
        font-size: 20px;
        font-weight: 700;
        color: #484686;
        margin-left: 30px;
        text-align: left;
    }

    .toxicity p {
        font-family: Red Hat Display;
        font-size: 16px;
        font-weight: 400;
        color: #484686;
        margin-left: 30px;
        margin-right: 30px;
        text-align: left;
    }

.pictograms {
    margin-left: 30px;
    margin-top: 20px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px 0;
    background-color: #f8f9fa; /* Background color */
    border: 1px solid #ced4da; /* Border color */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Shadow */
}

.ui-menu-item {
    padding: 8px 12px; /* Adjust padding as needed */
    cursor: pointer;
}

.ui-menu-item:hover {
    background-color: #e9ecef; /* Hover background color */
}

.ui-autocomplete .ui-helper-hidden-accessible {
    display: none !important;
}
.ui-helper-hidden-accessible {
    display: none;
}

about_us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    .about_us h1 {
        font-family: Martian mono;
        font-size: 40px;
        font-weight: 700;
        color: #484686;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    } 

    .about_us h2 {
        font-family: Martian mono;
        font-size: 28px;
        font-weight: 700;
        color: #484686;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
        text-align: left;
    }

    .about_us h3 {
        font-family: Martian mono;
        font-size: 18px;
        font-weight: 700;
        color: #9ca04c;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
        text-align: left;
    }

    .about_us ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
    }

    .about_us li a {
        font-family: Red Hat Display;
        font-size: 15px;
        font-weight: 600;
        background-color: #9ca04c;
        color: #fff;
        border: 1px solid #9ca04c;
        padding: 15px;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10px;
        width: 30%;
}

    .about_us li a:hover {
        background-color: #484686;
        border-radius: 50px;
    }

    .about_us p
    {
        font-family: Red Hat Display;
        font-size: 16px;
        letter-spacing: 0px;
        word-spacing: 0px;
        color: #484686;
        font-weight: 400;
        text-align: justify;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;

    }
    
    .container p {
        font-family: Red Hat Display;
        font-size: 16px;
        letter-spacing: 0px;
        word-spacing: 0px;
        color: #484686;
        font-weight: 400;
        text-align: justify;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 15px;
    }

.user-entries-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Red Hat Display;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

    .user-entries-table th,
    .user-entries-table td {
        padding: 8px;
        border-bottom: 1px solid #dddddd;
    }

    .user-entries-table th {
        background-color: #f2f2f2;
        text-align: left;
    }
    .user-entries-table tbody tr:nth-child(even) {
        background-color: #f9f0f9;
    }