{% extends 'base.html' %}


{% block header %}
    <div class="about_us", style="margin-left: 0px;">
            <h1>About Us</h1>
    </div>
{% endblock %}

{% block content %}

<div class="about_us">
    <h2>Our Story</h2>
        <div class="container">
            <p>We are a team of students of the Bioinformatics for Health Sciences Master's degree at Universitat Pompeu Fabra in Barcelona and the following web application is our main project for the subject of Databases and Web Development. 
                Our aim was to create a managable database of both organic and inorganic toxic substances and provide users with comprehensive information on their chemical properties, toxicity, as well as how to treat possible intoxications. 
                Our database is based on the PubChem database and we have used the Flask framework to create the web application. We have also used HTML, CSS, and JavaScript to create the front-end of the application.</p>
                <img src="../static/MAR_nova.JPG.jpg" alt="CMar">
        </div>
    <h2>Meet Our Team!</h2>
    <br></br>   
    <div class="container">
        <ul>
            <li><a href="https://formacio.bq.ub.edu/~u273215/">Allal</a></li>
            <li><a href="https://formacio.bq.ub.edu/~u276051/">María</a></li>
            <li><a href="https://formacio.bq.ub.edu/~u280398/">Marta</a></li>
            <li><a href="https://formacio.bq.ub.edu/~u230892/">Elizaveta</a></li>
        </ul>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}

