{% extends 'base.html' %}

{% block title %}
    <div class="compound"><h1 id="title"> Advanced search</h1></header>

{% endblock %}
{% block content %}
<div style="display: flex; justify-content: center;"><img src={{pictogram_url}}></div>
    <table class="user-entries-table">
        <thead>
       
        </thead>
        <tbody>
            {% for compound in compound_names %}
            <tr>
            <th><li><a href="{{ url_for('get_toxic', search_query=compound) }}">{{compound}}</a></li><th>
            </tr>
            {% endfor %}

        </tbody>

    </table><br><br>


    <footer class="footer">
        <p>&copy; 2024 ToxicBrowser. All rights reserved.</p>
    </footer>
</body>
</html>
{% endblock %}

