<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/css/styles.css">
    
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about_us.html">About Us</a></li>
            <li><a href="user_guide.html">User Guide</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li style="float: right;"><a href="auth/login.html">Login</a></li>
            <li style="float: right;"><a href="auth/signup.html">Sign Up</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Compounds with Pictogram</h1>
        <ul>
            {% for compound_name, compound_id in zip(compound_names, compound_ids) %}
                <li><a href="{{ url_for('get_toxic', compound_id=compound_id) }}">{{ compound_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <footer class="footer">
        <p>&copy; 2024 ToxicBrowser. All rights reserved.</p>
    </footer>
</body>
</html>
