{% extends 'base.html' %}

{% block header %}
        <div class="about_us", style="margin-left: 0px;">
                 <h1>Contact Us</h1>
        </div>
{% endblock %}


{% block content %}
    <div class="center">
        <p>Have a question or comment? Send us a message!</p>    
    </div>

    <form action="/send-mail" method="POST">
        <div class="form-floating">
        <h3>Name</h3>
        </div>
        <label for="name"></label>
        <input type="text" id="name" name="name" required><br><br>
        
        <div class="form-floating">
        <h3>Email</h3>
        </div>
        <label for="email"></label>
        <input type="email" id="email" name="email" required><br><br>
        
        <div class="form-floating">
        <h3>Message</h3>
        </div>
        <label for="message"></label>
        <textarea id="message" name="message" required></textarea><br><br>
        <input type="submit" value="Send">
    </form>
    
{% endblock %}

