<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>ToxicBrowser</title>

</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about_us.html">About Us</a></li>
            <li><a href="user_guide.html">User Guide</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li style="float: right;"><a href="auth/login.html">Login</a></li>
            <li style="float: right;"><a href="auth/signup.html">Sign Up</a></li>
        </ul>
    </nav>

    <header>
        <div class="center" style="margin-top: 150px;">
            <h1>ToxicBrowser</h1>
        </div>
    </header>

    <div class="center">
        <form action="/get_toxic" method="GET">
            <input type="text" name="compound_id" id="compound_id" placeholder="Introduce a compound">
            <button type="submit">Search</button>
        </form>
    </div>

    <button class="collapsible">Advanced search</button>
    <div class="content">
        <div class="submenu">
            <div class="nav">
                <ul>
                    <li><a href="#">Organ Toxicity</a>
                        <ul>
                            <li><a href="#">Submenu1</a></li>
                            <li><a href="#">Submenu2</a></li>
                            <li><a href="#">Submenu3</a></li>
                            <li><a href="#">Submenu4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#">ComponentType</a>
                        <ul>
                            <li><a href="#">Submenu1</a></li>
                            <li><a href="#">Submenu2</a></li>
                            <li><a href="#">Submenu3</a></li>
                            <li><a href="#">Submenu4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="../static/js/scripts.js"></script>
    <footer>
        <p>&copy; 2024 ToxicBrowser. All rights reserved.</p>
    </footer>
</body>

</html>
