{% extends "base.html" %}

{% block header %}
    <div class="about_us">
        <h1>User Space</h1>
        <p style="text-align: center;">Welcome to your user space! </p>

    </div>
{% endblock %}

{% block content %}

<div class="about_us">

        <h3>Profile Information</h3>

        <p>Email: {{ current_user.email }}</p>
        
        <h3>Settings</h3>
        <p>Change your settings <a href="/settings">here</a>.</p>

        <div class="row col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Uniprot code</th>
                    <th scope="col">Sequence</th>
                    <th scope="col">Molecular Weight</th>
                </tr>
                </thead>
                <tbody>
                {% for seqanalysis in user_sequences %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ seqanalysis.uniprot }}</td>
                        {% if seqanalysis.sequence|length > 10 %}
                            <td><a class="link-dark" href="{{ url_for('seqanalysis', seqanalysis_id=seqanalysis.id) }}">{{ seqanalysis.sequence[:10] }}...</a></td>
                        {% else %}
                            <td>{{ seqanalysis.sequence }}</td>
                        {% endif %}
                        <td>{{ "%.4f"|format(seqanalysis.mol_weight) }} (g/mol)</td>
                        </a>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    
        <h3>Logout</h3>
        <p>Logout <a href="/logout">here</a>.</p>
</div>
{% endblock %}



