{% extends "base.html" %}

{% block header %}
    <div class="about_us">
        <h1>User Space</h1>
        <p style="text-align: center;">Welcome to your user space! </p>

    </div>
{% endblock %}

{% block content %}

<div class="about_us">

        <h3>Profile Information</h3>

        <p>Email: {{ current_user.email }}</p>
        
        <h3>Settings</h3>
        <p>Change your settings <a href="/settings">here</a>.</p>

 
</div>

<div>
    <table class="user-entries-table">
        <thead>
        <tr>
            <th>Index</th>
            <th>Compound name</th>
            <th>Chemical formula</th>
            <th>InchiKey</th>
        </tr>
        </thead>
        <tbody>
            {% for entry in user_entries[-10:][::-1] %}
            <tr>
                <th>{{ loop.index }}</th>
                <td>{{ entry.compound_name }}</td>
                <td>{{ entry.chemical_formula }}</td>
                <td>{{ entry.inchi_key }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    
        <h3>Logout</h3>
        <p>Logout <a href="/logout">here</a>.</p>
</div>
{% endblock %}



