{% extends 'base.html' %}

{% block header %}
    <div class="about_us", style="margin-left: 0px;">
        <h1>User Guide</h1>
    </div>
{% endblock %}

{% block content %}

<div class="about_us">
    <h2>How to use Toxic Browser?</h2>
    <p>1. Go to the home page and type the name of the compound you want to search in the search bar.</p>
    <p>2. Click on the search button.</p>
    <p>3. The results will be displayed on the screen. You can find physicochemical information about compounds and their biological effects on the human body.</p>
    <p>4. If you sign up, your search history will be saved in your user space so you don't forget anything!</p>
    <p>5. You can also contact us if you have any questions or comments.</p>
    <h2>Enjoy your search!</h2>
</div>

{% endblock %}
