{% extends "base.html" %}

{% block header %}
    <div class="about_us">
        <h1>User Space</h1>
        <p style="text-align: center;">Welcome to your user space! </p>

    </div>
{% endblock %}

{% block content %}

<div class="about_us">

        <h3>Profile Information</h3>

        <p>Email: {{ current_user.email }}</p>
        
        <h3>Settings</h3>
        <p>Change your settings <a href="/settings">here</a>.</p>

 
</div>

<div class="row col">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Compound name</th>
            <th scope="col">Chemical formula</th>
            <th scope="col">InchiKey</th>
        </tr>
        </thead>
        <tbody>
        {% for get_toxic in user_entries %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ entry.compound_name }}</td>
                <td>{{ entry.chemical_formula }}</td>
                <td>{{ entry.inchi_key }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
    
        <h3>Logout</h3>
        <p>Logout <a href="/logout">here</a>.</p>
</div>
{% endblock %}



